_site
_site_ghpages
.sass-cache
.jekyll-cache
.jekyll-metadata

.*
!.github
.*
!.gitignore
 _site_ghpages

# python compiled files
*.pyc

# jekyll debug
_site

Gemfile.lock

# Jeykll Gemfile.lock
Gemfile.lock

# yui-compressor
*.jar

# bundle cache
_site
_site_ghpages


.sass-cache
.jekyll-cache
.jekyll-metadata
.jekyll-cache
vendor
