.block_example{
    display: flex;
    flex-wrap: wrap;
    border:2px solid #f90;
    overflow: hidden;
    h4{
        flex-basis:100%;
    }
p{      display: block;
        border:2px solid #f90;

max-width: 75%;
    }
    img{
flex-basis: 0;
        border:2px solid #f90;
        width: 25%;
        max-width: 300px;
    }
}