@import 'homepage';
@import 'about';
@import 'header_content';



.content{
    max-width: 1170px;
}

// Language options ------------------------------
.bg_lang_options{


    em{ text-align: center;}
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
    
    li{
        list-style: none;
        float:left;
        margin-right:20px;
        span{margin-right:5px;}
  
    }
} 
    .icon_lang{
        border-radius: 50%; overflow: hidden;
        width:35px; 
        height:30px;
        float:left; 
    
    
    }
    
    .pt_icon_lang{
        background: url('../img/pt-br-flag.jpg');
   background-size: 100% 100%;
    }
    
    .en_icon_lang{
        background: url('../img/en-flag.jpg');
        background-size: 100% 100%;
    }
  
}
//------------------------------