---
layout: default
pagination:
  enabled: true
---

<div class="content">
<!--------------------------------------------------------------------------->

<!-- This loops through the paginated posts -->
<arti class="bg_posts_excerpt">
{% for post in paginator.posts %}
<div class="block_post_excerpt">
  <img src="{{post.image}}" />
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    {% comment %}

    <p class="author">
      <span class="date">{{ post.date }}</span>
    </p>
    {% endcomment %}

    <p>
    {% include post-meta.html post=post %}
  </p>

      {{ post.excerpt}}
       <!------------------------------------->     
      {% capture content_words %}
        {{ post.content | number_of_words }}
      {% endcapture %}
      {% capture excerpt_words %}
        {{ post.excerpt | number_of_words }}
      {% endcapture %}
      {% if content_words != excerpt_words %}
        <a href="{{ post.url | relative_url }}">More &hellip;</a>
      {% endif %}
      <!------------------------------------->
  </div>
{% endfor %}
</arti><!--bg_posts-->
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
  {% include pagination-older.html %}
  {% include footer_content.html %}
</div>


<!--TODO:  check this code below to see if it is useful--------------------------------------------------------------->
{% comment %}

  {% include pagination-newer.html %}
  {{ content }}
  {% for post in paginator.posts %}
  <article class="post-body">
    <h2 class="post-title">
      <a href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>
    </h2>
    {% include post-meta.html post=post %}

    {% if post.excerpt %}
      {{ post.excerpt }}
    {% else %}
      {{ post.content }}
    {% endif %}

    {% if post.excerpt %}
      
      {% capture content_words %}
        {{ post.content | number_of_words }}
      {% endcapture %}
      {% capture excerpt_words %}
        {{ post.excerpt | number_of_words }}
      {% endcapture %}
      {% if content_words != excerpt_words %}
        <a href="{{ post.url | relative_url }}">More &hellip;</a>
      {% endif %}
    {% endif %}
  </article>
  {% endfor %}
  {% include pagination-older.html %}

{% endcomment %}

</div>