---
layout: default
---
{% include header_content.html %}
<div class="content">
  {% include post-meta.html post=page %}

  <div class="post-body">
    {{ content }}
    {% include post-tags.html post=page %}
  </div>

  {% include footer_content.html %}
  {% include comments.html %}
  {% include related_posts.html %}
{% include footer.html %}

  {% include comments.html %}
  {% include related_posts.html %}
  

  {% include footer.html %}
  {% include comments.html %}
  {% include related_posts.html %}
</div>
